.message {
  max-width: 85%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.messages::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



.message.user {
  align-self: flex-end;
}
.message.assistant {
  align-self: flex-start;
}
.message-content {
  padding: 12px 14px;
  border-radius: 14px;
  background: rgb(33, 33, 33);
  color: var(--text);
  font-size: 15px;
  line-height: 1.45;
}
.message.user .message-content {
  background: rgb(33, 33, 33);
  color: #fff;
}

/* inline code and code blocks */
.message-content code {
  background: rgb(33, 33, 33);
  padding: 4px 6px;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;
  font-size: 13px;
}
.message-content pre {
  background: rgb(33, 33, 33);
  padding: 12px;
  border-radius: 10px;
  overflow: auto;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;
}


